:root{--CSSVersion:V420260314_172748}

body{background-color:#1A1D21;font-family:Arial;color:#D8DEE9}

#wrapper{display:flex;flex-wrap:wrap;text-align:center}

card_header{min-width:325;flex:1 1 100%;background-color:#212529;border:3px solid#1A1D21;border-radius:7px}
card{min-width:325;flex:1 1;background-color:#212529;border:3px solid#1A1D21;border-radius:7px;display:flex;flex-direction:column;align-items:center}
ct{font-weight:bold}

container{gap:4px;align-items:center;display:flex;justify-content:center;margin-top:3}

button{cursor:pointer;max-width:fit-content;align-self:center;background-color:#2A8387;border:1px solid#2A8387;border-radius:3px;color:#FFF;font-size:16;padding:2}
button:active{position:relative;top:1}

input{width:150;background-color:#181818;border:1px solid#2A8387;border-radius:3px;outline:none;color:#D8DEE9}

.slider{appearance:none;width:100;height:12}
.slider::-webkit-slider-thumb{cursor:pointer;appearance:none;width:40;height:18;border-radius:3px;background-color:#2A8387}

wheelcontainer{width:auto;background-color:#181818;border:1px solid#2A8387;border-radius:3px;padding:2;height:15}
.wheel{cursor:pointer;height:100%;overflow-y:scroll;scroll-snap-type:y mandatory}
.wheel::-webkit-scrollbar{display:none}
.wheellabel{font-size:16;line-height:15px;scroll-snap-align:center}

.state{color:#FFCF47}

hr{border:1px dashed#1A1D21;width:20%}

.fan{width:16;animation:fan paused linear infinite.5s}
@keyframes fan{100%{transform:rotate(360deg)}}

#ichart,#hchart{width:100%;max-height:300px}
#legend{border-collapse:collapse;width:100%;text-align:left}
#legend thead{background-color:#2A2F34}
#legend td{border-top:1px solid#2A2F34}
#legend tbody tr:hover{background-color:rgba(26,29,33,.4)}
.hl{text-decoration:line-through}
.sl{cursor:pointer}

#updateflash{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;background-color:rgba(255,207,71,.2);animation:flash.3s ease-out}
@keyframes flash{from{opacity:1}to{opacity:0}}

#loaderoverlay{display:flex;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:999;align-items:center;justify-content:center}
#loader{width:48;height:48;border:5px solid#FFF;border-bottom-color:transparent;border-radius:50%;display:inline-block;box-sizing:border-box;animation:rotation 1s linear infinite}
@keyframes rotation{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}